[submodule "lib/QuickDigest5"]
	path = lib/QuickDigest5
	url = https://github.com/nthnn/QuickDigest5
[submodule "lib/MyShell"]
	path = lib/MyShell
	url = https://github.com/nthnn/MyShell
[submodule "lib/unsafe_ops"]
	path = lib/unsafe_ops
	url = https://github.com/nthnn/unsafe_ops
[submodule "lib/chisei"]
	path = lib/chisei
	url = https://github.com/nthnn/chisei
