.header-section {
    background-image: url("../assets/background-1.png");
}

.main-content {
    width: 100%;
    display: block;
}

.get-started-btn:hover {
    color: var(--bs-dark) !important;
}

#example-tab-contents {
    padding: 22px 16px;
}
