1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "n8lang"
      VALUE "FileDescription", "N8 Programming Language"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "n8"
      VALUE "LegalCopyright", "Nathanne Isip"
      VALUE "OriginalFilename", "n8.exe"
      VALUE "ProductName", "N8 Programming Language"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
